html {
    background-color: beige;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;

}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(6, 85, 77);
    text-transform: uppercase;
    word-spacing: 2px;

}

input {
    background-color: rgb(207, 215, 231);
    font-size: bolder;
    height: 1.5em;
    border-radius: 3%;
    margin: 10px;

}

input:hover {
    background-color: rgb(135, 4, 147);

}